<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao"
	xmlns:iaff="http://csiaff.iaff.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Prontuário</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${#strings.concat('Prontuário - ', itemProntuarioFilter.nomePaciente)}">Prontuário</h1>
					
					<!-- 
					<h1 th:unless="${usuario.novo}" th:text="${#strings.concat('Edição de usuário: ',usuario.nome)}">Edição de usuário</h1>
					 -->
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" 
						 	th:href="@{/prontuarios/novo/{codigo}(codigo=${itemProntuarioFilter.codigoPaciente},
						 	codigoProfissional=${#authentication.principal.usuario.codigo})}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo item</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">

		<!-- Botao Collapse -->
		<div class="form-group">
			<button class="btn btn-info js-collapse" type="button"
				data-toggle="collapse" data-target="#collapseFiltro"
				aria-expanded="false" aria-controls="collapseFiltro">Opções de filtragem</button>
		</div>

		<div class="collapse" id="collapseFiltro">
			<form method="GET" th:object="${itemProntuarioFilter}" th:action="@{/prontuarios}">
	
					<input type="hidden" class="form-control" id="codigoPaciente" th:field="*{codigoPaciente}"/>
					<input type="hidden" class="form-control" id="nomePaciente" th:field="*{nomePaciente}"/>
					
					<div class="row">
						<div class="form-group  col-sm-12">
							<label class="control-label">Grupo</label> 
							<div>
								<th:block th:each="grupo : ${grupos}">
			  						<div class="checkbox  checkbox-inline"> 
				    					<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
				    					<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administrador</label>
			    					</div>
			    				</th:block>
							</div>
		  				</div>
					</div>
					
					<div class="row">
						<div class="form-group  col-sm-12">
							<label class="control-label">Tipo do item</label> 
							<div>
								
								<th:block th:each="tipo : ${tiposItem}">
			  						<div class="checkbox  checkbox-inline"> 
				    					<input type="checkbox" th:value="${tipo}" th:field="*{tiposItem}"/>
				    					<label th:text="${tipo.descricao}">Anamnese</label>
			    					</div>
			    				</th:block>
							
							</div>
		  				</div>
					</div>
		
					<button type="submit" class="btn  btn-primary">Filtrar</button>
				
			</form>
		</div>
		
		<div class="table-responsive  bw-tabela-simples">
		     
        	<table id="example" class="table  table-hover">
	            <thead>
	            	<tr>
	            	    <th class="table-pessoas-col-nome">

	            	    	<iaff:order page="${pagina}" field="nomeGrupo" text="Grupo"/>

	            	    </th>
	            	    <th class="table-pessoas-col-nome">Tipo</th>
	            		<th class="table-pessoas-col-nome">Item</th>
	                	<th class="table-pessoas-col-nome">Valor</th>
	                	<th class="table-pessoas-col-nome">
	            	    	<iaff:order page="${pagina}" field="dataLancamento" text="Lançamento"/>
	                	</th>
	                	<th class="table-pessoas-col-nome">Profissional</th>
	                 	<th class="table-col-acoes">Operações</th>
					</tr>
				</thead>
			
	            <tbody>
	            
					<tr  th:each="item :  ${pagina.conteudo}">
					    <!-- 
						<td th:text="${item.usuario.grupos[0].nome}"></td>
						-->
						<!--
						
						<td th:text="${((item.tipoitemprontuario.tipoItem.descricao == 'Anamnese') ? 'Anamnese' : item.tipoitemprontuario.grupo.nome)}"></td>  
						-->
						<td th:text="${item.nomeGrupo}"></td>
						<td th:text="${item.tipoItem}"></td>						
						<td th:text="${item.tipoitemprontuario.nome}"></td>
						<td th:text="${item.valor}"></td>
						<td th:text="${item.dataLancamentoString}"></td>
						<td th:text="${item.usuario.nome}"></td>
						
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar" 
							   th:href="@{/}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="@{/}"
									data:url="@{/}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>							
						</td>
						
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="6">Nenhum item de prontuário encontrado</td>
	                </tr>
					
	             </tbody>
         	</table>
    	 </div>
    	 
    	 <iaff:pagination page="${pagina}"/>
	</div>
</section>
</body>




</html>