<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao"
	xmlns:iaff="http://csiaff.iaff.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Abertura de agenda</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Abertura de agenda</h1>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${agendaFilter}" th:action="@{/abriragenda}">
		
			<div class="row">
			
				<div class="form-group  col-sm-2">
					<label class="control-label" for="dataAgendamento" >Data</label>
					<input type="text" class="form-control js-date" id="dataAgendamento" autocomplete="off" th:field="*{dataAgendamento}"/>
				</div>

				<div class="form-group  col-sm-3">
					<label class="control-label">Grupo</label>
					<div>
						<select class="form-control" autofocus="autofocus" th:field="*{grupo}">
							<option value=""></option>
							<option th:each="grupo : ${grupos}" th:value="${grupo.codigo}" th:text="${grupo.nome}">Clínica Geral</option>
						</select>
					</div>
				</div>
			
				<div class="form-group  col-sm-5">
					<label class="control-label" for="nome">Profissional</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
	
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
						
		</form>
		
		
		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
		                <th class="table-pessoas-col-nome">Profissional</th>
		                <th class="table-col-acoes">Abrir</th>
					</tr>
				</thead>
			
	            <tbody th:if="${!usuarios.empty}" th:each="usuario : ${usuarios}">

	                <tr>
						<td th:text="${usuario.nome}"></td>
						<td>
							<a class="btn btn-link js-tooltip" title="Abrir agenda" 
							    th:href="@{/abriragenda/{codigo}(codigo=${usuario.codigo},
							    dataAgendamento=${agendaFilter.dataAgendamento})}">
								<i class="glyphicon glyphicon glyphicon-calendar"></i>
							</a>
						</td>
	                
	                </tr>
                </tbody>
	                
                <tbody th:if="${usuarios.empty}">
	                <tr>
	                	<td colspan="6">Não existe agenda a ser aberta</td>
	                </tr>
	            </tbody>
	            
	            
         	</table>
    	 </div>

	</div>
</section>

<!-- 
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/multiselecao.js}"></script>
</th:block>
-->
</body>
</html>