<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao"
	xmlns:iaff="http://csiaff.iaff.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Marcação de horários</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Marcação de horários</h1>
				</div>
				
				<!--
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Abrir Agenda</span>
						</a>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${agendaFilter}" th:action="@{/marcacao}">
			<div class="row">
			
				<div class="form-group  col-sm-2">
					<label class="control-label" for="dataAgendamento" >Data</label>
					<input type="text" class="form-control js-date" id="dataAgendamento" autocomplete="off" th:field="*{dataAgendamento}"/>
				</div>

				<div class="form-group  col-sm-3">
					<label class="control-label">Grupo</label>
					<div>
						<select class="form-control" autofocus="autofocus" th:field="*{grupo}">
							<option value=""></option>
							<option th:each="grupo : ${grupos}" th:value="${grupo.codigo}" th:text="${grupo.nome}">Clínica Geral</option>
						</select>
					</div>
				</div>
			
				<div class="form-group  col-sm-5">
					<label class="control-label" for="nome">Profissional</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
	
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
						
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
		            	<th class="table-pessoas-col-nome">Data agendamento</th>
		            	<th class="table-pessoas-col-nome">Hora</th>
		                <th class="table-pessoas-col-nome">Profissional</th>
		                <th class="table-pessoas-col-nome">Paciente</th>
		                <th class="table-col-acoes">Operações</th>
					</tr>
				</thead>
			
	            <tbody>

					<tr th:each="agenda : ${pagina.conteudo}">  
						<td th:text="${agenda.dataAgendamentoString}"></td>
						<td th:text="${agenda.horaAgendamento}"></td>
 
 						<td th:text="${agenda.usuario.nome}"></td>
						<td th:text="${agenda.paciente} != null ? ${agenda.paciente.pessoa.nome} : '' "></td> 
						
						<td class="text-center" th:if="${agenda.paciente} != null">

							<!--
							<button class="btn  btn-default js-desmarcar-btn js-tooltip" type="button" title="Desmarcar"
					        		data:url="@{/marcacao/{codigo}(codigo=${agenda.codigo})}">
					        	<i class="glyphicon glyphicon-remove"></i>
					        </button>
					        --> 

							<a class="btn  btn-link  btn-xs  js-desmarcar-btn  js-tooltip" title="Desmarcar" 
									data:url="@{/marcacao/{codigo}(codigo=${agenda.codigo})}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
							
														
						</td>
						
						<td class="text-center" th:if="${agenda.paciente} == null">
							
							<button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa paciente"
					        		data-toggle="modal" data-target="#pesquisaRapidaPacientes" 
					        		th:onclick="|setCodigoAgenda('${agenda.codigo}')|">
					        	<i class="glyphicon  glyphicon-search"></i>
					        </button> 
							 
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="6">Não existe agenda aberta</td>
	                </tr>

	            </tbody>
         	</table>
    	 </div>
    	 
    	 <iaff:pagination page="${pagina}"/>

	</div>
	
	
	<th:block th:replace="paciente/PesquisaRapidaPacientes :: pesquisaRapidaPacientes"></th:block>
	
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/agenda.desmarcar.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/paciente.pesquisa-rapida.js}"></script>
	<!-- Passa o código da agenda como parâmetro para a caixa modal, atribuindo ao campo hidden coodigoAgendaModal -->
	<script>
		function setCodigoAgenda(codigoAgenda) {
	    	document.getElementById('codigoAgendaModal').value = codigoAgenda;
		}
	</script>
</th:block>
</body>
</html>